.social.buttons
  list-style none
  text-align center
  li
    display inline-block
    margin 0 10px

.social.buttons .twitter-share
.social.buttons .googleplus-one
.social.buttons .facebook-like
  width 60px

