@import "config"
@import "karma/dist/stubs.styl"
@import "karma/dist/karma.styl"
@import "lib"
@import "normalize"
@import "ui"
@import "plugins"
@import "modules"

html, body
  overflow-x hidden
  background #1D1D1D url(../images/bg.png)
