-image-background(path, ext)
  npath = path + '.' + ext
  size = image-size(npath)
  width size[0]
  height size[1]
  background-image s('url(%s)', npath)

  @media retina
    rpath = path + '@2x.' + ext
    background-image s('url(%s)', rpath)
    background-size contain
