.landing.page // Namespace
  position relative
  background-color #1D1D1D
  margin-bottom 240px

  .informational
    min-height 946px
    
    > .content
      container()

  .example
    .iphone
      position relative
      -image-background('../images/iphone', 'png')
    .appscreen
      position absolute
      top 131px
      left 36px

  .calltoaction
    position absolute
    top 100%
    left 0
    right 0
    height 240px
