_logo_size = image-size('../images/logo.png')

.landing.page // Namespace
  position relative
  background-color #1D1D1D
  margin-bottom 300px
  @media daddyOnly
    padding-top 100px

  .informational
    container()
    
    > .content
      row()

  .example
    expand_for('mummy')
    columns(3)
    .iphone
      position relative
      margin 0 auto
      -image-background('../images/iphone', 'png')
    .appscreen
      position absolute
      top 17.3%
      left 8.65%

  .description
    expand_for('mummy')
    columns(3)
    pull_right()
    padding-top line_breaks(2)
    text-align center
    @media daddyOnly
      text-align left

  .title
    clearfix()
    margin-bottom line_breaks(2)
    .logo
      display inline-block
      margin-right .5em
      -image-background('../images/logo', 'png')
    .name
      vertical-align top
      scale_type 4
      display inline-block
      height _logo_size[1]
      margin 0
      color #4F4F4F
      em
        color white
        font-style normal

  .slogan.text
    margin-bottom 0

  .soon.text
    margin-bottom line_breaks(1)

  .togglelist.button
    margin-bottom line_breaks(2)
    @media daddyOnly
      display none

  .features.list
    display none
    margin-bottom line_breaks(2)
    &.active
      display block
    @media daddyOnly
      display block

  .calltoaction
    position absolute
    top 100%
    left 0
    right 0
    height 240px

    .register.form
    .success
      max-width 400px
      margin line_breaks(2) auto

    .success
      text-align center

    label
      text-align center

