@import "semantic/build/uncompressed/elements/input.css"

.ui.form textarea
.ui.form input[type="text"]
.ui.form input[type="email"]
.ui.form input[type="date"]
.ui.form input[type="password"]
.ui.form input[type="number"]
.ui.form input[type="tel"] 
  font-weight 300
  padding 0.8em 1.2em
