@import "semantic/build/uncompressed/collections/message.css"

.ui.success.message
.ui.green.message
  background-color #272B28
  color white

.ui.warning.message
.ui.yellow.message
  background-color #C4BD89
  color white

.ui.message
  border-radius 0
