<article class="landing page">

  <div class="informational">
    <div class="content">

      <div class="example">
        <div class="iphone">
          <div class="appscreen">
            <img src="/images/screen_1.png">
          </div>
        </div>
      </div>
    
      <div class="description">
        <div class="title">
          <div class="logo"></div>
          <h1 class="name"><em>meeting</em>room</h1>
        </div>
        <div class="content">
        </div>
      </div>

    </div>
  </div>

  <div class="calltoaction">
    <form class="ui register form">
      <div class="one field">
        <label>Let me know when it's ready:</label>
        <div class="ui input action">
          <input type="email" placeholder="Your email address">
          <div class="ui red button">Ease my Pain</div>
        </div>
      </div>
    </form>
  </div>

</article>
